.client-name {
  background: #00fbff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00fbff,
    #6832cd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00fbff,
    #6832cd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 100px;
}

.hero {
  display: flex;
}
.hero > img {
  width: 500px;
  border-radius: 50%;
  border: 5px solid green;
}

.social > img {
  width: 40px;
}
